<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Products', products_path %>
<%= link_to 'Upcoming Events', index_events_path %>
<%= link_to 'Contact Us', index_contact_path %>