  <b><%= @event.name %></b>

<br><br>
  <%= image_tag @event.image_url %><br><br>

 <center>
<p>
  <%= @event.description %>
</p>

<p>

  <%= @event.start.to_formatted_s(:long_ordinal) %>
</p>
